@{
    ViewData["Title"] = "Home Page";
}

<main class="container p-4 bg-white">
    <div class="text-center">
        <h1 class="display-4">Above Premiere Web</h1>
        <p>La APP Desktop de Above Premiere es una gran herramienta de edición de video.</p>       
    </div>
    <div class="text-left">
        <p>
            Con ella podrás:
            <ul>
                <li>Cambiar el formato del video de X a Y (soportando los formatos comunes como .mp4, .avi, .mpeg, .flv)</li>
                <li>Extraer el audio de un video en formato .mp3</li>
                <li>Remover el audio de un video.</li>
                <li>Cambiar la resolución de un video.</li>
                <li>Extraer imagenes del video cada X frames.</li>
            </ul>
        </p>
    </div>
    <div class="mt-5">
        <a class="btn btn-primary" href="~/download/AbovePremiere.exe" download>Descargar App</a>
    </div>
</main>

    
