@{
    ViewData["Title"] = "RegistroDeUsuario";
}

<div class="container">
    <div class="jumbotron">
        <h1>Registro exitoso!</h1>
        <p>Ya puedes comenzar a utilizar esta excelente app Above Premiere.</p>
    </div>
</div>