@{
    ViewData["Title"] = "Registrarse";
}
<h1 class="mb-4">@ViewData["Title"]</h1>

<form action="RegistroDeUsuario" method="post">
    <div class="row">
        <div class="form-group col-md-6">
            <label>Nombre</label>
            <input type="text" name="nombre" class="form-control" placeholder="Ingresa aquí tu mombre">
        </div>
        <div class="form-group col-md-6">
            <label>Apellido</label>
            <input type="text" name="apellido" class="form-control" placeholder="Ingresa aquí tu apellido">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label>Usuario</label>
            <input type="text" name="usuario" class="form-control" placeholder="Crea aquí tu usuario">
        </div>
        <div class="form-group col-md-6">
            <label>Contraseña</label>
            <input type="password" name="password" class="form-control" placeholder="Crea aquí tu contraseña">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label>Email</label>
            <input type="email" name="email" class="form-control" placeholder="Ingresa aquí tu email">
        </div>
        <div class="form-group col-md-6">
            <label>Licencia</label>
            <input type="text" name="licencia" class="form-control" placeholder="Ingresa aquí tu licencia">
            <small class="form-text text-muted">
                Tu licencia debe tener el siguiente formato: AAAA-BBBB-1111-2222-3333 (Recuerda agregar los guiones medios '-').
            </small>
        </div>
    </div>

        <button type="submit" class="btn btn-primary">Registrarme</button>
</form>
